
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <button class="btn btn-dark me-2" id="sidebarToggle" (click)="toggleSidebar()">
       <i class="fas fa-bars"></i>
    </button>
    <a  class="navbar-brand mx-auto"><i class="fas fa-boxes-stacked"></i> Product Management Dashboard</a>
    <button class="btn btn-primary btn-sm" (click)="impnote()">Note</button>
</nav>

<div class="d-flex">
  <div class="sidebar bg-dark text-white" [class.active]="sidebaropen">
     <ul class="list-unstyled px-3 py-4">
      <li><a routerLink="" class="text-white text-decoration-none d-block py-2">Home</a></li>
      <li><a routerLink="products" class="text-white text-decoration-none d-block py-2">Products</a></li>
      <li><a routerLink="search" class="text-white text-decoration-none d-block py-2">Search Products</a></li>
      <li><a routerLink="addproducts" class="text-white text-decoration-none d-block py-2">Add Products</a></li>
     </ul>
  </div>

    
 <div class="content flex-grow-1">
     <router-outlet></router-outlet>
</div>

</div>